.header {
  background-color: #2D3250;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_header {
  display: flex;
  align-items: center;
  font-size: large;
  width: 500px;
  justify-content: space-between;
  position: relative;
//   left: 100px;
  
  a {
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    transition-property: font-size;
    transition-duration: 0.2s;
    transition-timing-function: linear;
  }
}

a:hover {
    border-bottom: 3px solid #F9B17A;
    font-size: 110%;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d3250;
  
  main {
    width: 50%;
    font-size: larger;
  }
}

img {
  width: 36.39%;
}

.tecnologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #676f9d;
  height: 888px;
}